.modal__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 400px;
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  left: calc(50% - 200px);
  top: 25%;
  opacity: 1;
  animation: showModal;
  animation-duration: 700ms;
}

.modal__body, .modal__header, .modal__footer {
  padding: 12px;
}

.modal__header {
  border-bottom: 1px solid #dfdfdf;
}

.modal__title {
  font-size: 24px;
}

.modal__footer {
  border-top: 1px solid #dfdfdf;
  display: flex;
  justify-content: flex-end;
}

.modal__body input {
  height: 36px;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #939393;
  padding: 4px 8px;
}

@keyframes showModal {
  from {
    top: -30px;
    opacity: 0.85;
  }

  to {
    top: 25%;
    opacity: 1;
  }
}